<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disgord - Iniciar Sesión</title>
    <link rel="stylesheet" href="..\styles\LoginStyles.css">
</head>
<body>
    <header>
        <img src="../styles/Images/logo.jpg" alt="" class="logo">
        
        <div class="Titulo">
            <h2>Canal de chat</h2>
            <h3>Programaci&oacute;n 2 - UPATECO</h3>
        </div>
    </header>
    <div class="container">
        <h2>Disgord - Iniciar Sesión</h2>

        <form id="loginForm">
            <div>
                <label for="nombre">Nombre de usuario:</label>
                <input type="text" id="username" name="username" >
            </div>
            <div>
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="password" name="password" >
            </div>
            <div>
                <button type="submit">Iniciar Sesión</button>
            </div>
        </form>
        <p>No tienes cuenta? <a href="../templates/usuarios.html">Registrarse</a></p> 
    </div>
    <footer>
        <div>
          <h4>Grupo Nº 6 - Integrantes:</h4>
          <ul class="horizontal-list">
            <li>- Argañaraz, Cesar Marcelo</li>
            <li> - Barrionuevo, Juan Manuel</li>
            <li> - Lutri, Nicolás Eduardo</li>
            <li> - Xamena, Marcelo</li>
          </ul>
        </div>
      </footer>
    <script src="../scripts/login.js"></script>
</body>
</html>
