<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disgord</title>
    <link rel="stylesheet" href="..\styles\page_main.css">
</head>
<body>

    <header>
        <img src="..\styles\images\logo.jpg" alt="" class="logo">
        <div class="perfil">
            <iframe src="https://drive.google.com/file/d/1EEnUlhRlClZU5ZLrT0dUQJiW8WFzIxs7/preview" width="50" height="70" allow="autoplay"></iframe>
            <figcaption>Nombre</figcaption>
        </div>
        <div class="Titulo">
            <h2>Canal de chat</h2>
            <h3>Programaci&oacute;n 2 - UPATECO</h3>
        </div>
    </header>
    <div class="frame">
        <h1>Disgord</h1>
        <div class="user-info">
            Nombre de usuario: <span>NombreUsuario123</span>
        </div>
        <div class="columns">
            <div>Servidores</div>
            <div>Canales</div>
            <div>Mensajes</div>
        </div>
        <div class="input-area">
            <input type="text" class="input-message" placeholder="Escriba un mensaje ...">
            <button class="btn-send">Enviar</button>
        </div>
    </div>
    <footer>
        <div>
          <h4>Grupo Nº 6 - Integrantes:</h4>
          <ul class="horizontal-list">
            <li>- Argañaraz, Cesar Marcelo</li>
            <li> - Barrionuevo, Juan Manuel</li>
            <li> - Lutri, Nicolás Eduardo</li>
            <li> - Xamena, Marcelo</li>
          </ul>
        </div>
      </footer>
</body>
</html>
