<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="..\styles\Usuarios.css"> <!-- Enlaza el archivo CSS -->
</head>
<body>
    <header>
        <img src="../styles/Images/logo.jpg" alt="" class="logo">
        <div class="perfil">
            <iframe src="https://drive.google.com/file/d/1EEnUlhRlClZU5ZLrT0dUQJiW8WFzIxs7/preview" width="50" height="70" allow="autoplay"></iframe>
            <figcaption>Nombre</figcaption>
        </div>
        <div class="Titulo">
            <h2>Canal de chat</h2>
            <h3>Programaci&oacute;n 2 - UPATECO</h3>
        </div>
    </header>
    <div class="Titulos">
        <h2>Disgord</h2>
        <h3>Usuarios</h3>
        <div class="form-container">
            <form id="registroForm">
                <div class="form-group">
                    <label for="username">Nombre de Usuario:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="profile_image">url de imagen:</label>
                    <input type="tel" id="profile_image" name="profile_image" required>
                </div>
                <!--https://ibb.co/hRb29bZ
                    https://ibb.co/0CH9J3s -->
                
                <button type="submit" class="submit-button">Registrarse</button>
            </form>
        </div>
    </div>
    <footer>
        <div>
          <h4>Grupo Nº 6 - Integrantes:</h4>
          <ul class="horizontal-list">
            <li>- Argañaraz, Cesar Marcelo</li>
            <li> - Barrionuevo, Juan Manuel</li>
            <li> - Lutri, Nicolás Eduardo</li>
            <li> - Xamena, Marcelo</li>
          </ul>
        </div>
      </footer>
    <script src="../scripts/registro.js"></script> <!-- Enlaza el archivo JavaScript -->
</body>
</html>
