body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

.frame {
    border: 2px solid #000;
    padding: 20px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    background-color: #d1dcf7;
}

.frame button {
    margin-top: 15px;
}

.user-info {
    margin-bottom: 20px;
    font-weight: bold;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.input-message {
    width: 80%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-send {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #008cba;
    color: white;
    cursor: pointer;
}
.logo {
    display: flex;
    width: 200px;
    height: auto;
    vertical-align: top;
    float: left;
    margin-top: 10px;
  }
  
header {
    background-color: #cef0f3;
    color: black; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    height: 80px;
  }

header h2 {
    font-size: 24px; /* Tamaño de fuente */
    margin: 0; /* Elimina el margen predeterminado */
  }

  /* Estilo para el título h3 en el header */
header h3 {
    font-size: 18px; /* Tamaño de fuente */
    margin: 0; /* Elimina el margen predeterminado */
  }

ul {
    list-style: none; /* Elimina los marcadores de lista */
    padding: 0; /* Elimina el espaciado interno predeterminado */
  }

li {
    margin: 5px 0; /* Agrega un pequeño margen vertical entre elementos de lista */
  }
  
  /* Estilo para los elementos de lista activos */
li.active {
    font-weight: bold; /* Hace que los elementos activos sean más visibles */
  }
    
footer {
  position: fixed;
  background-color: #cef0f3;
  text-align: center;
  padding: 0;
  left: 0; /* Asegura que el footer comience desde la izquierda de la ventana */
  right: 0; /* Asegura que el footer termine en la derecha de la ventana */
  bottom: 0;
  
}

.horizontal-list {
  display: flex;
  text-align: center;
  float: right;
  padding: 0;
  margin: 0;
}

footer div {
  margin-right: 20px;
  font-size: 12px;
}

.horizontal-list li {
  margin: 0 0 10px 10px;
}

.perfil {
    /* display: flex; */
    height: 100px;
    width: 100px;
    vertical-align: top;
    float: right;
    margin: 0 0 30 30;
    font-size: 11px;
  }
  
  .Titulo {
    width: 100vh;
    padding-top: 5px;
    height: 60px;
    float: none;
    background-color: #d1dcf7;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    vertical-align: middle;
  }
  
  .perfil img{
    height: 70px;
    width: auto;
  }